// @import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

$primary-main: #3f1dbe;
$primary-dark: #2c009e;
$primary-light: #745ff4;

$secondary-main: #ffbf46;
$secondary-dark: #be8602;
$secondary-light: #fbbc43;

$tertiary-main: #c5fff1;

$error-main: #cc2936;
$error-dark: #ba192b;
$error-light: #dd3640;

$text-primary: #1b1b1f;
$text-secondary: #77777a;

$font-size: 14;
$font-family: 'Roboto Mono';
